body
{
    font-family: 'Baloo Tammudu 2', cursive;
    border: 3px solid black;
    
}

.conntxt{
    position: relative;
    left: 70px;
}

.div1{
    color: black;
    height: 8px;
    border: 3px solid #2c3e50;
    background-color: #2c3e50;
}

.btn1{
    background-color: transparent;
    border: none;
    position: relative;
    bottom: 10px;
    left: 30px;
    color: white;
    font-weight: bold;
}

.btn2{
    background-color: transparent;
    border: none;
    position: relative;
    bottom: 10px;
    color: white;
    font-weight: bold;
}

.p1{
    font-weight: bold;
    font-size: 17px;
}

.box1{
    padding: 10px;
    border: 2px solid white;
    height: 300px;
    width: 50vh;
}

.btn7{
    background-color: transparent;
    color: white;
    font-size: 15px;
    text-decoration: none;
}